*{
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: center;
    margin: 2rem;
}


/*solo he puesto este h3 porque el validador me lo pedia, pero no lo quiero ver asi que lo escondo*/
h3{
    display: none;
}

/*le damos un poco de estilo al contenedor grid: espacios, texto etc*/
section{
    display: grid;
    color: white;
    text-align: center;
    margin: 5rem;
    gap: 1rem;
}

article{
    padding: 2rem;
}

.uno{
    background-color: rgb(14, 95, 95);
}

.dos{
    background-color: rgb(8, 10, 70);
}

.tres{
    background-color: rgb(63, 11, 81);
}

.cuatro{
    background-color: rgb(178, 0, 185);
}

.cinco{
    background-color: rgb(203, 2, 109);
}

.seis{
    background-color: rgb(0, 76, 11);
}


/* Calculo el tamano de la pantalla asi ==> 1rem = 1em = 16px*/

/**************************/
/* > 1200px (Horizontal pantalla escritorio) */
/**************************/

@media (min-width: 75em) and (orientation: landscape) {
    section{
        grid-template-columns: auto auto auto;
        /*aqui tengo 3 columnas*/
    }
}

/**************************/
/* < 1200px (Tablet Horizontal) */
/**************************/

@media (max-width: 75em) and (orientation: landscape) {
    section{
        grid-template-columns: auto auto;
        /*aqui tengo 2 columnas*/
    }
}

/**************************/
/* < 544px (Movil) */
/**************************/

@media (max-width: 34em) and (orientation: portrait) {
    section{
        grid-template-columns: auto;
        /*aqui tengo solo 1 columna*/
    }
}